* {
	//border: 1px solid red !important;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}



.grid {
	width:100%;
}

.row {
	width: 100%;
	display:flex;
	flex-wrap:wrap;
	overflow:auto;
	border-bottom: 5px solid red !important;
}

.Title {
	background-color: #33BEBE;
	color: white;
	border: 20px solid blue !important;
	margin-left: auto;
	margin-right: auto;
	
}


@media only screen and (max-width: 600px) {
	.row{
		background-color:blue;
	}
	.screenshot {
		display:none;
	}
}


.app, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	padding: 10px;
}

.screenshot{
	padding: 50px;
}

.description {
	padding: 50px;
	margin-left:auto;
	margin-right:0;
}


.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;	
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;	
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;	
}

.col-7 {
	width: 58.33%;
}

.col-8{
	width: 66.66%;	
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;	
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;	
}


.BannerArt {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

#entryInputForm,#querySizeForm,#whichEntryForm,#entryOutputForm {
	margin-left: auto;
	margin-right: auto;
	text-align:center;

}


.outputDescriptionClass {
	#padding:200px;
	margin:20px;
	#color:yellow;
	#background:linear-gradient(to bottom,blue,red);
}

.inputDescriptionClass {
	#width:200px;
	#height:200px;
	#padding-bottom:100px;
	#margin-bottom:50px;
	#background:black;
	#color:white;
	margin:20px;
}